<header>
    <nav>
        <a href="/gbh"><img src="/img/Logo.png" alt="" id="logo"></a>


        <ul>
            <li><a href="/gbh">Home</a></li>
            <li><a href="/gbh/characters">Characters</a></li>
            <li><a href="/gbh/basics">Basics</a></li>
            <li><a href="#">Log in/ Sign Up</a></li>
        </ul>
    </nav>
</header>
