<header>
    <nav>
        <a href="/gbh"><img src="/img/Logo.png" alt="" id="logo"></a>


        <ul>
            <li><a href="/gbh">Home</a></li>
            <li><a href="/gbh/characters">Characters</a></li>
            <li>Basics</li>
            <li>Log in/ Sign Up</li>
        </ul>
    </nav>
</header>
