<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Granblue hub</title>
        <link rel="stylesheet" href="/css/basics.css">
    </head>
    <body>
        <div class="container">
            <%- include ('./partials/header.ejs') %>
            <div class="num-notation-section">
                <div class="num-content">
                    <h2 class="num-text">Number (Num) Notation</h2>
                    <div class="num-imgs">
                        <img src="/img/num/numPad.png" alt="">
                        <img src="/img/num/numDir.png" alt="">
                    </div>

                </div>
            </div>
            <div class="basic-buttons-section">
                <h1>Basic Buttons</h1>
                <ul>
                    <li>L - Light Attack (Square)</li>
                    <li>M - Medium Attack (Triangle)</li>
                    <li>H - Heavy Attack (Circle)</li>
                    <li>S - Special Attack (X)</li>
                    <li>G - Guard (R2)</li>
                    <li>T - Throw (L1)</li>
                    <li>OH - Overhead Attack (L2)</li>

                </ul>
            </div>
            <div class="universal-button-inputs">
                <h1>Universal Button Inputs</h1>
                <ul>
                    <li>M + H - Overhead Attack</li>
                    <li>G + 4/6(Away from Opponent) - Evade</li>
                    <li>G + 4/6(Towards from Opponent) - Crossover</li>
                    <li>L1 or 236 L/M/H - Fireball</li>
                    <li>4/6 L1 or 623 L/M/H - Dragon Punch (DP)</li>
                    <li>(MIDAIR) L1 or 214 L/M/H - Midair Special</li>
                    <li>236 + L1 or 236 + 236 + H - H Skybound Art</li>
                    <li>236 + L1 + U or 236 + 236 + U - U Skybound Art</li>
                </ul>
            </div>
        </div>




    </body>
</html>

<!-- need to update video links -->
<!-- <iframe width="415" height="240" src="https://www.youtube.com/embed/5UWaXdMtX_Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
