<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Granblue Fantasy Versus Hub</title>
        <link rel="stylesheet" href="/css/homepage.css">
    </head>
    <body>
        <div class="container">
            <%- include ('./partials/header.ejs') %>

            <div class="landing">
                <img src="/img/landingImage.png" alt="" class="landing-page-image">
            </div>

            <section class='card-section'>
                <div class="cards">
                    <div class="tips card-section">
                        <div class="card-content">
                            <h1>Daily Tip</h1>
                        </div>
                    </div>
                    <div class="featured-video card-section">
                        <div class="card-content">
                            <h1>Featured Video</h1>
                            <img src="/img/landingImage.png" alt="" class="video">
                            <h2 class="video-details">GO1 VS Fenrich</h2>
                            <p class="video-details">Description</p>
                        </div>
                    </div>
                    <div class="open-lobbies card-section">
                        <div class="card-content ">
                            <h1>Open Lobbies</h1>
                        </div>
                    </div>

                </div>

            </section>

            <div class="updates">
                <h1>Site Updates</h1>
                <div class="updates-section">

                </div>

            </div>




        </div>
    </body>
</html>
