<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Granblue hub</title>
        <link rel="stylesheet" href="/css/logIn.css">
    </head>
    <body>
        <div class="container">
            <%- include ('./partials/header.ejs') %>
            <div class="log-in-form">
                <h1>Log In</h1>
                <fieldset class="form-div">
                    <label for="username" class="form-labels">Username:</label>
                    <input type="text" name="username" value="">
                </fieldset>
                <fieldset class="form-div">
                    <label for="password" class="form-labels">Password:</label>
                    <input type="password" name="password" value="">
                </fieldset class="form-div">
                    <div class="btn-section">
                        <button type="submit" name="log-in" class="log-in-button btns">Log In</button>
                        <a href="#" class="sign-up-btn btns">Sign Up</a>
                    </div>



            </div>
        </div>




    </body>
</html>
