@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{

    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container{
    text-align: center;
}

#logo{
        width: 180px;
}

header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 6px 0;
}



nav ul{
    position: inherit;
    width: auto;
    background: none;
    display: flex;
    height: auto;
    list-style: none;

}
nav ul li{
    font-size: 20px;
    padding: 0 10px;
    float:left;
}

.user-log-out{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.landing-page-image{
    /* margin: 0 -1.2em; */
    padding:0;
    width: 100%;
}

.card-section{
    margin:0 auto;
    padding:0.8em 1.2em;
}

.cards{
    text-align: center;
    display: flex;
    font-size: 22px;
}

.card-content{
    text-align: center;
    background-color: #e5e5e5;
    width: 480px;
    height: 626px;
    border-radius: 20px;
}

.open-lobbies{
    margin: 10px auto;
    background-color: white;
    width: 320px;
    height: 85%;
    border-radius: 20px;

}


fieldset{

    border:none;
}

input {
    border: none;
}

.lobby{
    color: white;
    border-radius: 20px;
}
.lobby ul{
    overflow-y: auto;
}

.lobby li{
    background-color: #059FB1;
    margin: 5px 0;
    padding: 5px 0;
    list-style: none;
    border-radius: 20px;
}


.join-btn{
    background-color: #10C9DE;
    border:none;
    font-weight: bold;
    color:white;
    padding:10px 20px;
    border-radius: 12px;
}

.video{
    padding-top: 40px;
    width: 360px;
    height:240px;
}

.video-details{
    font-size: 20px;
    margin:0 auto;
    padding-top: 20px;
    width:340px;
}

.card-content h1{
    padding-top: 20px;
}

h2{
    padding-left: 20px;
}

.update-section{
    padding: 30px 0;
    color: white;
    background-color:#10C9DE;
    height:520px;

}

.add-update{

}

.update-section h1{
    padding: 20px 0;
}

.update-container{
    padding:10px 0;
    color: white;
    margin:0 auto;
    background-color:#059FB1;
    height:360px;
    width: 70%;
    border-radius: 10px;
}

.updates{
    color: black;
    margin: 5px auto;
    padding:10px 0;
    background-color: lightblue;
    padding: 20px 0;
    list-style: none;
    width:90%;
}
