@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{

    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container{
    text-align: center;
}

#logo{
        width: 180px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 6px 0;
}



nav ul{
    position: inherit;
    width: auto;
    background: none;
    display: flex;
    height: auto;
    list-style: none;

}
nav ul li{
    font-size: 20px;
    padding: 0 10px;
    float:left;
}

.char-description{
    width: 550px;
}

.combo-section{
    width: 300px;
    text-align: center;
}
