@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{

    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.container{
    text-align: center;
}

#logo{
        width: 180px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 6px 0;
}



nav ul{
    position: inherit;
    width: auto;
    background: none;
    display: flex;
    height: auto;
    list-style: none;

}
nav ul li{
    font-size: 20px;
    padding: 0 10px;
    float:left;
}

.user-log-out{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.char-section{
    background-color: #10C9DE;
    padding: 40px 50px;
}

.char-info{
    padding: 30px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-around;
    text-align: center;

}



.char-description{
    padding:50px 0;
    width: 550px;
}
.char-description p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.char-description h3{
    padding:30px;
    font-size: 25px;
}

.combo-container{
    background-color: #white;
    padding: 40px;
}

.combo-section{
    padding:10px 0px;
    background-color: #10C9DE;
}
.combo-section h3{
    color: white;
    padding: 20px;
    font-size: 35px;
}
