<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Granblue Fantasy Versus Hub</title>
        <link rel="stylesheet" href="/css/logIn.css">
    </head>
    <body>
        <div class="container">
            <%- include ('../partials/header.ejs') %>

            <form class="request-form" action="/lobby/add-lobby" method="POST">
                <fieldset>
                    <label for="">Username</label>
                    <input type="text" name="username" value="">
                </fieldset>
                <fieldset>
                    <label for="platform">Platform</label>
                    <input type="text" name="platform" value="">
                </fieldset>
                <fieldset>
                    <label for="link">Link</label>
                    <input type="text" name="link" value="">
                </fieldset>
                <input type="submit" value="Add Lobby" class='join-btn'>
            </form>

        </div>
    </body>
</html>
